body {

    color:#2F4F4F;
}

#head {
    text-align: center;
    position: relative;
    margin-top: 2em;

}

#head img {
 position: relative;
margin-left:-1.5em

}

#input {
    text-align: center;
    position: relative;
}

ul {
    list-style-type:none;
}

.list-item  {
    border: 1px solid #E4E3E6;
    border-radius:5px;
    position:relative;
    background-color: #3498db;
    color: #F5FFFA


}

.checked {

    text-decoration: line-through;
    background-color: #bdc3c7;
    color:#2F4F4F;
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);


}

#list-display {
    word-wrap: break-word;
    text-align:center;
    margin-top:5em;
}

.box-checked,.box {
    position:absolute;
    left:0.5em;

}

.remove {
    position:absolute;
    right: 1em;
}

.box:hover, .box-checked:hover, .remove:hover {
    cursor: pointer;
}

.counter {
    position:absolute;
    display:inline;
    right: 0.5em;
    font-size:0.85em;
    font-style: italic;

}

.disabled {
    background-color: #1EAEDB;
}


.list li:hover {
    cursor: move;

}

.button-primary.submit  {
    background-color: #3498db;
}

.button-primary.submit:hover {
    background-color: #2980b9;
}

.foot {
    text-align:center;
    margin-top: 11.5em;


}
